<div class="content-wrapper">
    <a class="overskrift" >Våre produkter</a>


    <div class="utvikling">
        <a>
            IT-utvikling

        </a>
        <p>
            "Transformér din bedrift med våre IT-utviklingstjenester. Vårt team av erfarne utviklere skaper innovative og brukervennlige løsninger, skreddersydd for å møte dine unike behov og hjelpe deg å holde tritt med den digitale evolusjonen."

        </p>
        
    </div>

    <div class="bruker">
        <a>
            Brukerstøtte

        </a>
        <p>
            "Opplev overlegen brukerstøtte med vårt dedikerte team. Vi tilbyr raske og effektive løsninger på dine IT-utfordringer, sikrer minimal nedetid og optimal produktivitet for dine ansatte."

        </p>
        
    </div>

    <div class="drift">
        <a>
            IT-drift

        </a>
        <p>
            "Oppnå maksimal effektivitet og pålitelighet i bedriftens IT-infrastruktur med våre IT-driftstjenester. Vi tilbyr skreddersydd overvåkning, vedlikehold og støtte for å sikre at dine systemer alltid er oppdaterte og fungerer optimalt."

        </p>
       
    </div>

    <div class="kurs">
        <a>
            Kurs om AI

        </a>
        <p>
            "Bli en del av fremtidens teknologilandskap med våre AI-kurs. Lær om kunstig intelligensens grunnprinsipper, dens anvendelser, og hvordan du kan implementere AI-løsninger i din virksomhet for smartere beslutningstaking og innovasjon."

Hver av disse tekstene er designet for å være kort, informativ og direkte relatert til tjenestene du tilbyr, og gjenspeiler hvordan de kan være til nytte for potensielle kunder.


        </p>
        
    </div>

</div>


<style>

body {
    background-color: #219EBC;
}
.overskrift {
    margin-bottom: 10%;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: #FB8500;
    
}



   .content-wrapper {
    display:block;
    margin-left: 30%;
    align-items: center;
    height: 100vh; 
    width: 40%;
    margin-top: 30px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #023047;
    color: #FFB703;
    font-size: 20px;
    box-shadow: 0 4px 32px 0 #023047;
    
    
  }

.kurs {
    margin-top: 30px;
}

.drift{
    margin-top: 30px;
}
.utvikling{
    margin-top: 30px;
}
.bruker{
    margin-top: 30px;
}

</style>

