

.tabs {
    height: 400px;
    width: 950px;
    position: relative;
    margin: auto; /* This will center the element horizontally */
    color: white;
    z-index: 1;
    padding-bottom: 100px;
}

.allebilder {
    text-align: center;
}

.utvikling2 {
    text-align: center;
}
.brukerstøtte2 {
    text-align: center;
}
.driftstøtte2 {
    text-align: center;
}
.kurs2 {
    text-align: center;
}


.bilde1 {
    margin-right: 10px;
} 
.bilde2 {
    margin-right: 10px;
} 
.bilde3 {
    margin-right: 10px;
} 
.bilde4 {
    margin-right: 10px;
} 