.tabs {
    height:400px;
    width: 950px;
    position: relative;
    left: 450px;
    color:white;
    
}

.bilde1 {
    margin-right: 10px;
} 
.bilde2 {
    margin-right: 10px;
} 
.bilde3 {
    margin-right: 10px;
} 
.bilde4 {
    margin-right: 10px;
} 