

.tabs {
    height: 400px;
    width: 950px;
    position: relative;
    margin: auto; /* This will center the element horizontally */
    color: white;
    z-index: 1;
}
.bilde1 {
    margin-right: 10px;
} 
.bilde2 {
    margin-right: 10px;
} 
.bilde3 {
    margin-right: 10px;
} 
.bilde4 {
    margin-right: 10px;
} 