<!--dette er hvor tabs blir redigert-->

<mat-tab-group dynamicHeight class="tabs">
    <mat-tab label="Alle">
      <div class="allebilder">
        <div class="utvikling">
            <img class="bilde1" src=".\assets\utvikling.png" height="220px"> <img class="bilde2" src=".\assets\brukerstøtte.png" height="220px"><img class="bilde3" src=".\assets\driftstøtte.png" height="220px"> <img class="bilde4" src="./assets/kurs.png" height="220px">
        </div>
     
       
      </div>
    </mat-tab>
    <mat-tab label="utvikling">
      <div class="utvikling2">
        <img class="bilde1" src=".\assets\utvikling2.png" height="300px">
        <p>vi er Norges beste utviklere. </p>
      </div>
    </mat-tab>

    <mat-tab label="brukerstøtte">
        <div class="brukerstøtte2">
        <img class="bilde2" src=".\assets\brukerstøtte2.png" height="300px">
        <p>vi har beste brukerstøtte i Norge. </p>
        </div>
      </mat-tab>

      <mat-tab label="driftstøtte">
        <div class="driftstøtte2">
        <img class="bilde1" src=".\assets\driftstøtte2.png" height="300px">
        <p>beste serverene i Norge</p>
        
        </div>
      </mat-tab>
      
      <mat-tab label="Kurs i AI">
        <div class="kurs2">
        <img class="bilde1" src=".\assets\kurs2.png" height="300px">
        <p>beste kurs om AI i norge</p>
        
        </div>
      </mat-tab>


  
   
  </mat-tab-group>