<!--dette er hvor tabs blir redigert-->

<mat-tab-group dynamicHeight class="tabs">
    <mat-tab label="Alle">
      <div class="example-small-box mat-elevation-z4">
        <div class="utvikling">
            <img class="bilde1" src=".\assets\utvikling.png" height="300px"> <img class="bilde2" src=".\assets\brukerstøtte.png" height="300px"><img class="bilde3" src=".\assets\driftstøtte.png" height="300px">
        </div>
     
       
      </div>
    </mat-tab>
    <mat-tab label="utvikling">
      <div class="example-large-box mat-elevation-z4">
        <img class="bilde1" src=".\assets\utvikling2.png" height="225px">
      </div>
    </mat-tab>

    <mat-tab label="brukerstøtte">
        <div class="example-large-box mat-elevation-z4">
        <img class="bilde2" src=".\assets\brukerstøtte2.png" height="225px">
        </div>
      </mat-tab>

      <mat-tab label="driftstøtte">
        <div class="example-large-box mat-elevation-z4">
        <img class="bilde1" src=".\assets\driftstøtte2.png" height="400px">
        <p>beste serverene i Norge!!</p>
        
        </div>
      </mat-tab>
      
      <mat-tab label="Kurs i AI">
        <div class="example-large-box mat-elevation-z4">
        <img class="bilde1" src=".\assets\driftstøtte2.png" height="400px">
        <p>beste serverene i Norge!!</p>
        
        </div>
      </mat-tab>


  
   
  </mat-tab-group>