<!--dette er hvor tabs blir redigert-->

<mat-tab-group dynamicHeight class="tabs">
    <mat-tab label="Alle">
      <div class="example-small-box mat-elevation-z4">
        
        <img class="bilde1" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde2" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde3" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde4" src=".\assets\place_holder_til_tabs.png" height="225px">

      </div>
    </mat-tab>
    <mat-tab label="Noen">
      <div class="example-large-box mat-elevation-z4">
        <img class="bilde1" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde2" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde3" src=".\assets\place_holder_til_tabs.png" height="225px">

      </div>
    </mat-tab>
    <mat-tab label="Noen andre">
        <div class="example-large-box mat-elevation-z4">
        <img class="bilde2" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde3" src=".\assets\place_holder_til_tabs.png" height="225px">

        </div>
      </mat-tab>
      <mat-tab label="littfler">
        <div class="example-large-box mat-elevation-z4">
        <img class="bilde1" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde2" src=".\assets\place_holder_til_tabs.png" height="225px">
        <img class="bilde3" src=".\assets\place_holder_til_tabs.png" height="225px">
        </div>
      </mat-tab>
  </mat-tab-group>