mat-form-field {
    width: 100%;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 20px;
   
  }
  
  button {
    margin-top: 20px; /* Adjust as necessary */
  }

  .content-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }