<!--dette er teksten på toppen av nettsiden--->

<div class="navbar">
    <ul>
      <li><a href="http://127.0.0.1:5500/mjosa-megabytes/app/src/app/om-oss/om-oss.component.html">Om oss</a></li>
      <li><a href="http://127.0.0.1:5500/mjosa-megabytes/app/src/app/kontaktskjema/kontaktskjema.component.html">kontakt oss</a></li>
      <li><a href="http://127.0.0.1:5500/mjosa-megabytes/app/src/app/produkter/produkter.component.html">våre produkter</a></li>
    </ul>
  </div>
  


<div class="header">
    <div class="tekst">
        <a>Mjøsa Megabytes</a>
    </div>

</div>

