
/*her redigerer du overskriften*/
.overtekst{
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center; 
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-top: 10px;

}

/*her redigerer du teksten*/
.tekst {
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height:10vh;
    width: 100%; 
    padding: 20px;
    box-sizing: border-box; 
  }
  

  
  .container {
    width: 100%; 
    max-width: 900px; 
    margin: 0 auto; 
  }