
<!--dette er html for om os teksten-->


<div class="container">
    <style>
        
    </style>
    
    <a class="overtekst">om oss</a>
    <div class="tekst">
    
        <p>Velkommen til Mjøsa Megabytes, Hamars nyeste IT-selskap. Grunnlagt i 2023, fokuserer vi på å levere skreddersydde IT-løsninger for små og mellomstore bedrifter. Vårt team er lidenskapelig om innovasjon og tilbyr tjenester som programvareutvikling, IT-rådgivning, skytjenester og dataanalyse. Vi er engasjert i lokalsamfunnet, støtter teknologiutvikling og streber etter bærekraft. Kontakt oss for å utforske hvordan vi kan hjelpe din virksomhet i den digitale æraen. Vi gleder oss til å samarbeide med deg!</p>
    
    </div>
    
</div>

<style>
    body {
        background-color: #219EBC;
    }

    .overtekst{
    color: #FB8500;
    font-size: 30px;
    display: flex;
    align-items: center; 
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;

}

/*her redigerer du teksten*/
.tekst {
    color: #FFB703;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height:10vh;
    width: 100%; 
    padding: 20px;
    box-sizing: border-box; 
    font-family: 'Bebas Neue', sans-serif;
  }
  

  
  .container {
    margin-top: 30%;
    width: 100%; 
    max-width: 900px; 
    margin: 0 auto; 
    background-color: #023047;
    box-shadow: 0 4px 32px 0 #023047;
  }
</style>